<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Weather</title>
</head>

<body>

    <nav>
        <div class="logo" href="">
            <a href=""> <img src="images/eye.svg" alt=""></a>
        </div>
        <ul class="links">
            <li><a href="/">
                    <img src="images/calendar2-plus.svg" alt=""> Today
                </a></li>
            <li><a href="/">
                    <img src="images/filter-square.svg" alt=""> Work
                </a></li>
        </ul>


    </nav>

    