* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

body {
    background-color: rgb(48, 36, 36);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav .links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 5px;

}

.links a:hover {
    color: rgb(95, 95, 95)
}

img {
    height: 20px;

    vertical-align: top;


}

.logo img {
    height: 30px;

}